:root{
    --margin: 20%;
}

.container{
    width: 60%;
    height: 1000px;
    margin: 0px 21%;
    display: flex;
}

.Con1{
    background-color: gray;
    min-width: 30%;
    height: 100%;
}
.b1{
    background-color: rgb(69, 68, 68);
    min-width:100%;
    height: 20%;
}
.Con2{
    background-color: rgba(235, 235, 235, 0.463);
    min-width: 70%;
    height: 100%;
}
.photo{
    width: 150px;
    border-radius: 50%;;
}
hr{
    width: 150px;
    height:2px;
    background-color: rgb(68, 62, 62);
    border-radius: 1rem;
    border: 1px solid rgb(68, 62, 62);
    margin-top: var(--margin);
}
.h{
    font-size: 15px;
    word-spacing: 2px;
    text-align: center;
    margin-top: 2px;
}

.icon2{
    margin-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.edu{
    text-align: center;
}
.h1{
   color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.HR{
    margin-top: 50px;
    min-width: 550px;
}
.ha{
    padding-left: 40px;
    text-align: justify;
    padding-right: 30px;
    
}
.h4{
    margin-top: 2px; 
    font-size: 15px;
    word-spacing: 2px;
}
